<html>
	<head>
		<title>Yun Experiment</title>
	</head>
	<body>
		Default Layout
		<!-- Header BEGINS -->

		<!-- Header ENDS -->

		<!-- Body BEGINS -->
		{{> header}}
		<!-- Body ENDS -->
	</body>
</html>